<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.15.0, Culture=neutral"/>
  </configSections>
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="TraceAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender, log4net">
      <file type="log4net.Util.PatternStrting" value="C:\LULU_WCF_Service.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="10" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%logger] - %level - %location - %message%newline%exception" />
      </layout>
    </appender>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender, log4net">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%logger] - %level - %location - %message%newline%exception" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="LULU_WCF_Service_Behaviour" name="LULU_WCF_Service.LULU_Service">
        <endpoint address="/IStudent" binding="basicHttpBinding" bindingConfiguration="LULU_WCF_Service_BasicHttpBinding" name="StudentServiceEndpoint"
          contract="LULU_WCF_Service.Interfaces.IStudent" />
        <endpoint address="/ICampus" binding="basicHttpBinding" bindingConfiguration="LULU_WCF_Service_BasicHttpBinding" name="CampusServiceEndpoint"
          contract="LULU_WCF_Service.Interfaces.ICampus" />
        <endpoint address="/IClass" binding="basicHttpBinding" bindingConfiguration="LULU_WCF_Service_BasicHttpBinding" name="ClassServiceEndpoint"
          contract="LULU_WCF_Service.Interfaces.IClass" />
        <endpoint address="/IClassRoom" binding="basicHttpBinding" bindingConfiguration="LULU_WCF_Service_BasicHttpBinding" name="ClassRoomServiceEndpoint"
          contract="LULU_WCF_Service.Interfaces.IClassRoom" />
        <endpoint address="/ICourse" binding="basicHttpBinding" bindingConfiguration="LULU_WCF_Service_BasicHttpBinding" name="CourseServiceEndpoint"
          contract="LULU_WCF_Service.Interfaces.ICourse" />
        <endpoint address="/IUser" binding="basicHttpBinding" bindingConfiguration="LULU_WCF_Service_BasicHttpBinding" name="UserServiceEndpoint"
          contract="LULU_WCF_Service.Interfaces.IUser" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/LULU_WCF_Service/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="LULU_WCF_Service_BasicHttpBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="128" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="LULU_WCF_Service_Behaviour">
          <!-- Added useRequestHeadersForMetadataAddress to account for disparity between Server address over internet and resolution of server name 
          in AWS EC2 -->
          <useRequestHeadersForMetadataAddress>
            <defaultPorts>
              <add scheme="http" port="80" />
            </defaultPorts>
          </useRequestHeadersForMetadataAddress>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
          <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483647"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <connectionStrings>
    <add name="LULU_ModelContainer" connectionString="metadata=res://*/LULU_Model.csdl|res://*/LULU_Model.ssdl|res://*/LULU_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=lulu.cwtmlv0p26tw.eu-west-1.rds.amazonaws.com,1433;initial catalog=LULU_DB;user id=lulu;password=Ashaman1982;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\Users\arcan\Desktop\Traces.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
